<% @posts.each do |post| %>
  <div class="row">
    <h2><%= post.title %></h2>
    <small class="text-muted"><%= post.created_at.strftime "%d/%-m/%Y" %></small>
    <div class="content">
      <%= post.content %>
    </div>
  </div>
<% end %>
